streamlit==0.79.0
folium~=0.12.0
branca==0.3.1
geopy==1.21.0
scipy==1.4.1
requests==2.22.0
earthengine-api~=0.1.257
geopandas~=0.9.0
geojson~=2.5.0
setuptools~=49.6.0
pandas~=1.2.3
numpy~=1.20.1
shapely~=1.7.1